body {
  background-color: #f4fbff;
  text-align: center;
  font-family: Arial;
}
h1 {
  color: #4a90e2;
}
#mascot {
  font-size: 100px;
}
#timer {
  font-size: 50px;
}
button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px;
}
select {
  font-size: 24px;
  padding: 5px;
}
.hidden {
  display: none;
}
